.my-masonry-grid {
  display: flex;
  margin-left: -20px;
  width: auto;
}

.my-masonry-grid_column {
  padding-left: 20px;
  background-clip: padding-box;
}

.video-card {
  margin-bottom: 20px;
  border-radius: 12px !important;
  overflow: hidden;
  transition: all 0.3s;
}

.video-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
}
